<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Zoubeida T. Resume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- This is embedded stylesheet. -->
    <!-- adding fonts to website to make it more attractive. Use google fonts bt referencing the css on the Google Fonts APIs CDN-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="plugins/font-awesome-4.7.0/css/font-awesome.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device=width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="robotocondenced">
<div class="container r_bg"> <!-- begin container for the whole body-->
    <div class="container profile1"> <!-- begin container for image and profile info and social media links-->
        <div class="row">
        <!-- div for image -->
        <div class="col-md-3">
            <img class="profileimage img-thumbnail"
                 src="css/IMG_5926.jpg"
                 alt="Zoubeida image"/>
        </div>
        <!-- empty div-->
        <div class="col-md-1"></div>
        <!-- div for personal info-->
        <div class="col-md-5 persinfo">
            <div>
                <h1 class="name">Zoubeida Triki</h1>
                <p class="occupation">Software Engineer</p>
                <div class="contact-container container-block">
                    <ul class="list-unstyled contact-list">
                        <li class="address"><i class="glyphicon glyphicon-home ibgprofile"></i>  13007 Robins Next Ter. Germantown, MD 20874
                        </li>
                        <li class="email"><i class="glyphicon glyphicon-envelope ibgprofile"></i>  zoumenz@yahoo.com</li>
                        <li class="phone"><i class="glyphicon glyphicon-phone ibgprofile"></i>  301-916-7084</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- div for social media-->
        <div class="col-md-3 sociamedia">
            <ul class="list-unstyled contact-list">
                <li><a href="http://pcnetpro.net" target="_blank" class="abghref">pcnetpro.net
                    <i class="fa fa-globe ibgcontact"></i></a></li>
                <li><a href="https://twitter.com/zoumenz" target="_blank" class="abghref">twitter.com/zoumenz
                    <i class="fa fa-twitter ibgcontact"></i></a></li>
                <li><a href="https://linkedin.com/in/zoubeidanm"
                       target="_blank" class="abghref">linkedin.com/in/zoubeidanm
                    <i class="fa fa-linkedin ibgcontact"></i></a></li>
                <li><a href="https://github.com/zoubeidaNM" target="_blank" class="abghref">github.com/zoubeidaNM
                    <i class="fa fa-github ibgcontact"></i></a></li>
            </ul>
        </div>
        </div>
    </div><!-- end container for image and profile info and social media links-->

    <!-- objective container-->
    <div class="container">
        <div class="row">
            <div class="col-md-3 profile2">
                <h2 class="title objtitle">Objective  <i class="fa fa-user ibgtitle"></i></h2>
            </div>
            <div class="col-md-9">
                <div class="objinfo"><p>Searching for the opportunity to bring 7+ years experience with programming and technology engineering
                    to a Software Engineer position with a reputable company incorporating critical thinking, problem solving, and leadership.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Education title container-->
    <div class="container">
        <div class="row">
            <div class="col-md-3 profile2">
                <h2 class="title">Education  <i class="fa fa-graduation-cap ibgtitle"></i></h2>
            </div>
            <div class="col-md-9 objective">
            </div>
        </div>
    </div>

    <!-- Education Experience container 1-->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4 class="dates">January 1993 - May 1996</h4>
            </div>
            <div class="col-md-9">
                <div class="compname">
                <p>
                    <spam><a href="https://www.ulaval.ca/en.html" target="_blank">Laval University</a></spam>
                    Québec, Canada
                </p>
                <p class="italic"> M.S. Electrical Engineering</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Education Experience container 2-->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4 class="dates">January 1986 - December 1990</h4>
            </div>
            <div class="col-md-9">
                <div class="compname">
                    <p>
                        <spam><a href="https://www.ulaval.ca/en.html" target="_blank">Laval University</a></spam>
                        Québec, Canada
                    </p>
                    <p class="italic"> B.S. Electrical Engineering</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Experience title container-->
    <div class="container ">
        <div class="row">
            <div class="col-md-3 profile2">
                <h2 class="title">Experience  <i class="fa fa-briefcase ibgtitle"></i></h2>
            </div>
            <div class="col-md-9">
            </div>
        </div>
    </div>

    <!-- Job Experience container 1-->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4 class="dates">January 1999 - July 2003</h4>
            </div>
            <div class="col-md-9">
                <div class="compname">
                <p>
                    <spam><a href="https://www.nurun.com/en/" target="_blank">Nurun inc</a></spam>
                    Québec, Canada
                </p>
                <p class="italic">Software Engineer & Scientific Consultant</p>
                <p></p>
                </div>
                <div class="joexplist">
                <ul>
                    <li><p>I worked as contractor at <a href="http://www.drdc-rddc.gc.ca/en/index.page" target="_blank"> Defence
                        Research and Development Canada (DRDC)</a>.</p></li>
                    <li><p>I worked on a "Above Water Warfare" project. It Enhanced the royal canadian navy's
                        ability to detect and counter above-water threats by improving the performance of
                        above-water sensors and control systems, and by optimizing their overall effectiveness
                        through systems integration.</p></li>
                    <li><p>I implemented, tested and helped design a 1D/2D/3D sensor data fusion filter using C++/Java.
                        The results were published in 2003 (<a href="http://adsabs.harvard.edu/abs/2003SPIE.5096..432B" target="_blank">publication</a>).</p></li>
                    <li><p>I supervised and helped analyze, compare and document several tracking algorithms performances using mathematical concepts and Matlab.</p></li>
                    <li><p>I designed and coded a multi-platform HCI (Human computer interface) using Java for a command and control simulating software communicating to an Oracle database.
                        The results offered my client the flexibility and the portability of their software.</p></li>
                </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Job Experience container 2-->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4 class="dates">Mars 1996 - December 1998</h4>
            </div>
            <div class="col-md-9">
                <div class="compname">
                <p>
                    <spam><a href="https://www.nurun.com/en/" target="_blank">Nurun inc</a></spam>
                    Québec, Canada
                </p>
                <p class="italic">Software Enginner</p>
                <p></p>
                </div>
                <div  class="joexplist">
                <ul>
                    <li><p>I worked as contractor at <a href="http://www.drdc-rddc.gc.ca/en/index.page" target="_blank"> Defence Research and
                        Development Canada (DRDC)</a>. I troubleshot and Enhanced functionality of existing sensor simulation software
                        for the Defense research establishment using C++/Java.
                        The results enabled my client to do more elaborate experiences which led to several publications.</p></li>
                    <li><p>I designed and developed and tested a target identification module based on Dempster-Shafer algorithm, using C++/Java, which I integrated to multi-platform existing software.
                        This module impressed several military officers during an internal conference. </p></li>
                    <li><p>I have stepped in on different struggling projects that were running behind schedule and
                        I was able to troubleshoot them and to offer the right solutions for my clients to go forward.</p></li>
                </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- Skills title container-->
    <div class="container">
        <div class="row">
            <div class="col-md-3 profile2">
                <h2 class="title">Skills  <i class="fa fa-rocket ibgtitle"></i></h2>
            </div>
            <div class="col-md-9">
            </div>
        </div>

        <!-- Skill list-->
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4 class="dates">Software knowledge</h4>
                </div>
                <div class="col-md-9 skilllist">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <ul>
                                    <li>C++, <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                            <i class="glyphicon glyphicon-star"></i></li>
                                    <li>Java, <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i></li>
                                    <li>Uml, <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i></li>
                                </ul>
                            </div>
                             <div class="col-md-3">
                                <ul>
                                    <li>Oracle, <i class="glyphicon glyphicon-star"></i></li>
                                    <li>Sql, <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i></li>
                                    <li>Pl/Sql, <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul>
                                    <li>Html, css, <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i></li>
                                    <li>Javascript, <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                    </li>
                                    <li>Matlab, <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- end container for the whole body-->

<!-- Latest compiled and minified JavaScript form jquery and the bootstrap-->
<script
        src="http://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>